{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/forgotpass.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <img src="{% static 'assets/img/logo.png' %}" alt="">
      <h1><a href="">Text To Hand Gesture</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
        {% comment %} <li><a class="nav-link scrollto" href="index.html">About</a></li> {% endcomment %}
        {% comment %} <li><a class="nav-link scrollto" href="index.html">Services</a></li> {% endcomment %}
      
        {% comment %} <li><a class="nav-link scrollto" href="index.html">Team</a></li> {% endcomment %}
      
       
        {% comment %} <li><a class="nav-link scrollto" href="index.html">Contact</a></li> {% endcomment %}
        <li><a class="nav-link scrollto" href="{% url 'signup_finals' %}">Signup</a></li>
        <li><a class="nav-link scrollto" href="{% url 'login_finals' %}">Login</a></li>

        <li><a class="getstarted scrollto"  href="{% url 'home' %}">Get Started</a></li>

        <!-- <li><a class="getstarted scrollto" href="index.html">Get Started</a></li> -->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->





<div class="title">
    <h2>RESET PASSWORD</h2>
</div>

<div class="container">

  <form method="post" action="password_recovery/">       
      {% csrf_token %}
      <input
        class="email-input"
        type="email"
        name="recover_email"
        placeholder="Email"/><br>
        <p>Enter your email to reset your password. We will send you an email.</p>

      <input type="submit" value="Submit" name="submit" class="submit">
  </form>
</div>



{% endblock content %}